/* HOME PAGE
*
*  For styling specific elements. */

/* Landing Section */
.landing {
    text-align: center;
}

/* Features Section */
.features__items {
    text-align: center;
}

.features__heading {
    font-size: 18px;
}

.features__desc {
    opacity: 80%;
}